In [2]:
import pandas as pd
import numpy as np
import statsmodels
import patsy
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [3]:
data = pd.read_csv('siti_dsc.csv')
data

     Kemiskinan    IPM  Pengangguran
0         16.98  68.81          9.02
1         17.11  69.45          9.93
2         16.43  70.00          7.57
3         15.92  70.60          6.57
4          4.76  72.48          1.90
..          ...    ...           ...
131        9.28  70.57          5.60
132       14.55  76.81          3.33
133       13.16  77.59          4.07
134       13.10  78.38          2.72
135       12.36  78.89          3.02

[136 rows x 3 columns]

In [6]:
nama=['IPM','Pengangguran']
X=data[nama]
Y=data.Kemiskinan
X

       IPM  Pengangguran
0    68.81          9.02
1    69.45          9.93
2    70.00          7.57
3    70.60          6.57
4    72.48          1.90
..     ...           ...
131  70.57          5.60
132  76.81          3.33
133  77.59          4.07
134  78.38          2.72
135  78.89          3.02

[136 rows x 2 columns]

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,random_state=1)

In [10]:
from sklearn.linear_model import LinearRegression
LinReg=LinearRegression()

In [11]:
LinReg.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
y_pred=LinReg.predict(X_test)

In [15]:
print(np.sqrt(metrics.mean_squared_error(Y_test,y_pred)))

4.370770402841205

In [16]:
model=sm.OLS(Y,X).fit()
predictions=model.predict(X)
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:             Kemiskinan   R-squared (uncentered):                   0.751
Model:                            OLS   Adj. R-squared (uncentered):              0.747
Method:                 Least Squares   F-statistic:                              202.1
Date:                Sun, 30 Jan 2022   Prob (F-statistic):                    3.52e-41
Time:                        22:06:45   Log-Likelihood:                         -445.61
No. Observations:                 136   AIC:                                      895.2
Df Residuals:                     134   BIC:                                      901.0
Df Model:                           2
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
IPM              0.1675      0.024      6.999      0.000       0.120       0.215
Pengangguran    -0.0793      0.289     -0.274      0.784      -0.651       0.492
==============================================================================
Omnibus:                       21.690   Durbin-Watson:                   0.345
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               26.352
Skew:                           1.019   Prob(JB):                     1.90e-06
Kurtosis:                       3.706   Cond. No.                         36.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""